@model Taxes.Models.Taxpayer

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-4">
        <h2>Details</h2>

        <div>
            <h4>Taxpayer</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DocumentType.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DocumentType.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Municipality.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Municipality.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Document)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Document)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TaxpayerId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Add Property", "AddProperty", new { id = Model.TaxpayerId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-8">
        <h2>Properties</h2>
        @if (Model.Properties.Count == 0)
        {
            <h4>No properties added yet!</h4>
        }
        else
        {
            <h4># Properties - @Model.Properties.Count</h4>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Department.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Municipality.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().PropertyType.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Stratum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Value)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Properties.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipality.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyType.Description)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Stratum)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Area)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditProperty", new { id = item.PropertyId }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Taxes", "ShowTaxes", new { id = item.PropertyId }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Delete", "DeleteProperty", new { id = item.PropertyId }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        }

    </div>
</div>