@model PagedList.IPagedList<Taxes.Models.Taxpayer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Taxpayers";
}

<h2>Taxpayers</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Document)
        </th>
        <th>
            # Properties
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Properties.ToList().Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaxpayerId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.TaxpayerId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TaxpayerId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
